.post {
	padding: 0;
}

.post__header {
	font-size: 25px;
	font-weight: 500;
	padding: 30px;
	border-bottom: 1px solid #b5b5b5;
}

.post__body {
	padding: 30px;
	font-size: 16px;
	line-height: 25px;
}

.post__body > div {
	margin-bottom: 10px;
}

.post__body > div:last-child {
	margin-bottom: 0;
}